.tab-pane {
    margin-top: 25px;
}

.select-role {
    text-align: center;
    margin: 10px;
}
#tei_link {
    text-align: right;
}

.thumbnail {
    width: 100%;
}

.imagette {
    margin-top: 5px;
    margin-bottom: 30px;
}

.foliotation {
    display: block;
}
.foliotation.align-right {
    text-align: right;
}
.foliotation.align-left {
    text-align: left;
}
.foliotation.align-top {
    text-align: center;
}
.notes_and_info {
}
.note {
    border: 0px solid rgb(245, 245, 245);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    text-align: justify;
    font-size: 80%;
}
.note.unknown_resp {
    cursor: help;
}
.note.unknown_resp a {
    color: grey;
}
.note-inline {
    font-size: 80%;
    padding-top: 5px;
}
.note-inline-sep {
    width: 10%;
    border-color: black;
}

.goto {
    text-align: right;
    float: right;
}
.transcription {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 15px;
}
.editor {
    display: none;
}
.pagenum {
    text-align: right;
    font-size: 120%;
}
.pagenum.small {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 80%;
}

.actor {
    margin-left: 45%;
    list-style-type: none;
}

.speaker,
.stage {
    display: block;
    margin-left: 45%;
    width: 60%;
    margin-top: 10px;
}

.metamark {
    margin-left: 25%;
}

/*surlignage personnages*/
.personnage a {
    background-color: #F0F0F0;
}

/*ajout de la classe à partir index pour surligner occurrences*/
a.surligne {
    background-color: #EBBBAB;
}

/* note*/
p .note {
    font-size: 0.68em;
    line-height: normal;
    display: block;
    font-family: "arial";
    margin-left: -300px;
    margin-right: 700px;
}

/*surcharge de la couleur du lien pour les notes - les personnages*/
a {
    color: black;
    text-decoration: none;
}

/*mains*/
.inconnu {
    font-size: 0.9em;
    vertical-align: super;
}

.note[hand = 'crayon'] a,
p[hand = 'crayon'] {
    color: #999999;
}

/****/
/*ajout de la classe à partir index pour surligner occurrences*/
.personnage a.surligne {
    background-color: #EBBBAB;
}

.reclame {
    display: none;
}

.unclear {
    background-color: lightgrey;
    text-decoration: underline wavy;
}

.gap {
    background-color: lightgrey;
    font-style: italic;
}

.ajout {
    display: inline-block;
    /*vertical-align:20%;*/
    -ms-transform: skewY(-2deg) translate(0px, -8px);
    /* IE 9 */
    -webkit-transform: skewY(-2deg) translate(0px, -8px);
    /* Safari 3-8 */
    transform: skewY(-2deg) translate(0px, -8px);
    margin-right: -1em;
}

.personnage a {
    background-color: #F0F0F0;
}

.select-role {
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    padding: 10px;
    /*border: 1px solid lightgrey;*/
}

div.role {
    display: block;
}
.listperson > li {
    display: inline-block;
}

.listperson > li > a {

}

.note-call:hover {
    cursor: pointer;
}
.note-call {
    text-decoration: none;
    font-size: 80%;
    font-style: normal;
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 30px;
    padding: 0;
    padding-right: 4px;
    padding-left: 4px;
    color: #404040;
}
sup {
    top: -.5em;
}
sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
.line[n]::before {
    content: attr(n);
    color: gray;
    margin-left: -30px;
    max-width: 20px;
    min-width: 20px;
    display: inline-block;
    margin-right: 10px;
}
