body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-bottom: 200px;
}

.center {
    text-align: center;
}

#header {
  margin-bottom: 10px;
  text-align: center;
}

#nav-menu {
  margin-bottom: 30px;
}

#nav-menu .nav-tabs {
  border-bottom: 1px solid #c16b4f;
}

#nav-menu .nav-tabs .nav-item.show .nav-link, #nav-menu .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #c16b4f #c16b4f #fff;
}

#footer {
  margin-top: 30px;
  padding: 10px 0;
  border-top: 1px solid #c16b4f;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right:0;
}

#footer img {
  height: 50px;
}

#footer .btn {
  color: #495057;;
}

#nav-box {
  display: none;
  position: fixed;
  width: 130px;
  top: 150px;
  right: 10px;
  text-align: center;
}

#nav-title {
  color: #727272;
  margin-bottom: 6px;
  line-height: 125%;
}

#nav-index {
  margin-top: 6px;
}

#back-to-top {
  z-index: 100;
  position: fixed;
  bottom: 100px;
  right: 2%;
  text-decoration-color: currentcolor;
  text-decoration-line: none;
  text-decoration-style: solid;
  font-size: 0.75em;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  display: inline;
  color: #969696;
}

p {
    text-align: justify;
}
