<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    {% block css %}
      <link rel="stylesheet" media="screen" type="text/css" href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="vendor/components/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" media="screen" type="text/css" href="css/main.css"/>
      <link rel="stylesheet" media="screen" type="text/css" href="css/aristophane.css"/>
    {% endblock %}
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="icon" type="image/png" href="img/parchemin.png"/>
  </head>

  <body>
    <div class="container-fluid col-11">
        <!-- HEADER -->
        <div class="row" id="header">
          <div class="col">
            <h1>
              <img class="rounded" src="img/aristophane.jpg" height="125" width="165"/>
              L'Aristophane de Lobineau
            </h1>
          </div>
        </div>

        <!-- MENU -->
        <div id="nav-menu" class="row">
          <div class="col">
            <ul class="nav justify-content-center nav-tabs">
              <li class="nav-item">
                <a class="nav-link {{ (page == "index") ? "active" : ""}}" href="index.php">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ (page == "edito") ? "active" : ""}}" href="index.php?page=edito">Note éditoriale</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ (page == "introduction") ? "active" : ""}}" href="index.php?page=introduction&play=introduction">L'introduction</a>
              </li>
              <li class="nav-item dropdown">
                {% set plays = { acarniens:     { title: "Les Acarniens"},
                                 chevaliers:    { title: "Les Chevaliers"},
                                 nuees:         { title: "Les Secondes Nuées"},
                                 guepes:        { title: "Les Guêpes"},
                                 thesmophories: { title: "Les Thesmophories (ou les Femmes à la fête de Cérès)"},
                                 paix:          { title: "La Paix"},
                                 oiseaux:       { title: "Les Oiseaux"},
                                 lysistrate:    { title: "Lysistrate"},
                                 assemblee:     { title: "L'Assemblée des femmes"},
                                 grenouilles:   { title: "Les Grenouilles"},
                                 ploutos:       { title: "Plutus"}
                } %}
                <!--{% set playss = ["chevaliers", "acarniens", "oiseaux", "guepes", "assemblee", "lysistrate", "thesmophories", "paix", "grenouilles", "nuees", "ploutos"] %}-->
                <a class="nav-link dropdown-toggle {{ (page in plays) ? "active" : ""}}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Les comédies</a>
                <div class="dropdown-menu">
                {% for id, play in plays %}
                  <a class="dropdown-item" href="index.php?page={{id}}&play={{id}}">{{play.title}}</a>
                {%endfor %}
                </div>
              </li>
              <li class="nav-item dropdown">
                {% set indexes = { person_introduction:  { title: "Personnages dans l'introduction",         play: "introduction" },
                                   person_acarniens:     { title: "Personnages dans les Acarniens",          play: "acarniens" },
                                   person_chevaliers:    { title: "Personnages dans les Chevaliers",         play: "chevaliers" },
                                   person_nuees:         { title: "Personnages dans les Secondes Nuées",     play: "nuees" },
                                   person_guepes:        { title: "Personnages dans les Guêpes",             play: "guepes" },
                                   person_thesmophories: { title: "Personnages dans les Thesmophories",      play: "thesmophories" },
                                   person_paix:          { title: "Personnages dans la Paix",                play: "paix" },
                                   person_oiseaux:       { title: "Personnages dans les Oiseaux",            play: "oiseaux" },
                                   person_lysistrate:    { title: "Personnages dans Lysistrate",             play: "lysistrate" },
                                   person_assemblee:     { title: "Personnages dans l'Assemblée des femmes", play: "assemblee" },
                                   person_grenouilles:   { title: "Personnages dans les Grenouilles",        play: "grenouilles" },
                                   person_ploutos:       { title: "Personnages dans Plutus",                 play: "ploutos" }
                                 } %}
                  <!--<a class="dropdown-item disabled" href="#" title="en construction">index des dates</a>-->
                  <!--{% set indexess = ["person_chevaliers", "person_introduction", "person_acarniens", "person_guepes", "person_lysistrate", "person_thesmophories", "person_paix", "person_grenouilles", "person_nuees", "person_ploutos"] %}-->
                <a class="nav-link dropdown-toggle {{ (page in indexes) ? "active" : ""}}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Index des personnages</a>
                <div class="dropdown-menu">
                {% for id, index in indexes %}
                  <a class="dropdown-item" href="index.php?page={{id}}&play={{index.play}}">{{index.title}}</a>
                {%endfor %}
                </div>
              </li>
              <li class="nav-item dropdown">
                {% set parallels = { parallel_acarniens:     { title: "Les Acarniens",          play: "acarniens" },
                                     parallel_chevaliers:    { title: "Les Chevaliers",         play: "chevaliers" },
                                     parallel_nuees:         { title: "Les Secondes Nuées",     play: "nuees" },
                                     parallel_guepes:        { title: "Les Guêpes",             play: "guepes" },
                                     parallel_thesmophories: { title: "Les Thesmophories (ou les Femmes à la fête de Cérès)",      play: "thesmophories" },
                                     parallel_paix:          { title: "La Paix",                play: "paix" },
                                     parallel_oiseaux:       { title: "Les Oiseaux",            play: "oiseaux" },
                                     parallel_lysistrate:    { title: "Lysistrate",             play: "lysistrate" },
                                     parallel_assemblee:     { title: "L'Assemblée des femmes", play: "assemblee" },
                                     parallel_grenouilles:   { title: "Les Grenouilles",        play: "grenouilles" },
                                     parallel_ploutos:       { title: "Plutus",                 play: "ploutos" }
                } %}
                <!--{% set parallelll = ["parallel_chevaliers", "parallel_acarniens", "parallel_oiseaux", "parallel_guepes", "parallel_assemblee", "parallel_lysistrate", "parallel_thesmophories", "parallel_paix", "parallel_grenouilles", "parallel_nuees", "parallel_ploutos"] %}-->
                <a class="nav-link dropdown-toggle {{ (page in parallel) ? "active" : ""}}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vues parallèles</a>
                <div class="dropdown-menu">
                {% for id, parallel in parallels %}
                  <a class="dropdown-item" href="index.php?page={{id}}&play={{parallel.play}}">{{parallel.title}}</a>
                {%endfor %}
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ (page == "actu") ? "active" : ""}}" href="index.php?page=actu">Actualités</a>
              </li>
            </ul>
          </div>
        </div>

        {% block content %}{% endblock %}

        {% block footer %}
        <!-- FOOTER -->
        <div id="footer" class="text-center bg-light">
          <div class="row text-center">
            <div class="col-8 logos">
              <a class="btn btn-light" href="http://www.msh-alpes.fr" title="MSH-Alpes">
                <img src="img/logo_msh_alpes.png" alt="Logo de la MSH-Alpes"/>
              </a>
              <a class="btn btn-light" href="http://litt-arts.univ-grenoble-alpes.fr" title="Litt&amp;Arts (UMR 5316)">
                <img src="img/logo_litt_arts.png" alt="Logo de Litt&amp;Arts (UMR 5316)"/>
              </a>
              <a class="btn btn-light" href="http://www.univ-grenoble-alpes.fr" title="Université Grenoble Alpes">
                <img src="img/logo_univ_grenoble_alpes.jpg" alt="Logo de l'UGA"/>
              </a>
              <a class="btn btn-light" href="http://www.cnrs.fr" title="CNRS">
                <img src="img/logo_cnrs.jpg" alt="Logo du CNRS"/>
              </a>
            </div>
            <div class="col text-left links">
              <div style="position: absolute; top: 50%; transform: translateY(-50%);">
                <a class="btn btn-light btn-sm" href="index.php?page=mentions-legales">Mentions légales</a>
                <a class="btn btn-light btn-sm" target="_blank" href="https://gricad-gitlab.univ-grenoble-alpes.fr/elan/lobineau">Code source</a>
                <a class="btn btn-light btn-sm" target="_blank" href="https://gricad-gitlab.univ-grenoble-alpes.fr/elan/lobineau/-/issues">Signaler une erreur</a>
              </div>
            </div>
        </div>
        {% endblock %}
        <!-- BACK TO TOP BTN -->
        <a id="back-to-top" class="btn btn-light rounded" href="#header" title="Retourner en haut de la page">
          HAUT
        </a>
    </div>

    {% block navbox %}
    <div id="nav-box">
      <div class="alert alert-dark">
        <div id="nav-title"></div>
        <span id="nav-position"></span> sur <span id="nav-length"></span> occurrences.
        <span id="nav-previous" onclick='navigate.previous()' class="btn btn-dark"><</span>
        <span id="nav-next" onclick='navigate.next()' class="btn btn-dark">></span>
        <a class="btn btn-secondary btn-sm" id="nav-index" href="">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Index
        </a>
      </div>
    </div>
    {% endblock %}

    {% block javascript %}
    <script src="vendor/components/jquery/jquery.slim.min.js"></script>
    <script src="vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"/></script>
    <script src="js/modale.js"></script>
    <script src="js/chevaliers.js"></script>
    <script src="js/navigate.js"></script>
    {% endblock %}
  </body>
</html>
